

/*
@charset "utf-8";
@import url('..//css/fonts.css');
*/
html, body {
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 1920px;
    text-align: center;
    height: 1080px;
}

body {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    /* background-size: 81%; */
    background: url(..//img/Frame.png);
    background-repeat: no-repeat;
    background-position: 45% 50%;
}

.box {
    position: relative;
}

.box .map {
    position: relative;
}

.First_Frame {
    margin: 15px 0 auto;
    width: 1890px;
    height: 1050px;
    display: inline-block;
    /* border: 1px solid rgb(34, 34, 33); */
}

.Second_Frame {
    margin: 5px 0 auto;
    /* width: 1890px; */
    height: 1035px;
    display: inline-block;
    /* border: 4px solid rgb(0, 0, 0); */
}

.Third_Frame {
    margin: -4px  auto;
    width: 1870px;
    height: 1030px;
    display: inline-block;
    /* border: 1px solid rgb(220, 219, 205); */
}

.Fourth_Frame {
    margin: 14px auto;
    width: 1860px;
    height: 1020px;
    overflow: hidden;
    /* border: 1px solid rgb(45, 45, 42); */
    background-color: #f3f3f3;
}

.Right_Info_Block_1_Frame {
    width: 420px;
    height: 1021px;
    float: right;
    /* border-left: 4px solid rgb(0, 0, 0); */
    position: relative;
    z-index: 1000;
    background: #fefced;
    top: -1016.5px;
    margin-right: -424.4px;
}

.Right_Info_Block_2_Frame {
    margin: auto 1px;
    width: 418px;
    height: 776px;
    /* border-left: 1px solid rgb(209, 208, 195); */
}

.Left_Info_Block_1_Frame {
    width: 420px;
    height: 1034px;
    float: left;
    /* border-right: 4px solid rgb(0, 0, 0); */
    position: relative;
    z-index: 1000;
    top: -1020px;
    background: #f3f3f3;
}

.Left_Info_Block_2_Frame {
    margin: auto 0px;
    width: 418px;
    height: 1020px;
    border-right: 1px solid rgb(209, 208, 195);
}

.Left_Info_Block_1_Frame > .Left_Info_Block_2_Frame > .Up_sector {
    width: 418px;
    height: 270px;
    /* border-bottom: 4px solid rgb(0, 0, 0); */
    background-image: url(..//img/Сognizance.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: 5% 25%;
}

.Up_sector > h1 {
  margin: 0 auto;
  padding: 0 0 0 0;
  font-family: "Helv-5-Normal";
  width: 350px;
  text-align: left;
  font-size: 40px;
  color: #333333;
  margin-left: 120px;
  font-size: 28px;
  width: 232px;
  padding-top: 40px;
  padding-left: 36px;
}


/*Middle_Sector*/

.Left_Info_Block_1_Frame > .Left_Info_Block_2_Frame > .Middle_Sector {
    width: 418.5px;
    height: 360px;
    border-top: 1px solid rgb(209, 208, 195);
    /* border-bottom: 4px solid rgb(0, 0, 0); */
    overflow: hidden;
}

.Left_Info_Block_1_Frame > .Left_Info_Block_2_Frame > .Bottom_Sector {
    width: 418px;
    height: 382.5px;
    border-top: 1px solid rgb(209, 208, 195);
    background-image: url(..//img/Left_Block_Bottom_Sector.png);
    background-size: 100%;
}

.Left_Info_Block_ON_OF {
    margin-left: -2px;
    float: right;
    text-decoration: none;
    height: 121.5px;
    width: 33px;
    background: url(..//img/Arrow_Rightt.png);
    background-repeat: no-repeat;
    background-position: 68% 57%;
    position: absolute;
    left: 420px;
    z-index: 5;
    top: 455px;
}


.btn {
    width:  205px;
    height: 55px;
    background: #000;
    position: absolute;
    top: 120px;
    font-size: 14.55px;
    color: #333333;
    line-height: 3.4;
    color: white;
}

.tourist_oject {
    position: relative;
    top: 5px;
    background: #32b2e2;
    font-size: 17px;
}

.infrastructure {
   /* position: relative; */
   top: 5px;
   left: 210px;
   background: #32b2e2;
   font-size: 17px;
}

.btn_active{
  background: #ffffff;
  color: black;
}
 

.buttons {
    position: absolute;
    top: 205px;
    width: 420px;
    height: 64px;
    background: #32b2e2;
}



.Middle_Sector > ul {
    margin: 0px auto;
    padding: 0 0 0 0;
}

.Middle_Sector > ul > li {
    margin: 0 auto;
    list-style: none;
    font-size: 13px;
    /* font-family: Georgia-bold; */
    width: inherit;
    height: 60px;
    color: #333333;
}

.Middle_Sector > ul > li > h1 {
   font-size: 20px;
   text-align: left;
   margin: 0px auto;
   margin-left: 105px;
   margin-top: 0;
   padding-top: 20px;
}
    



.grupe_slide_contol > .slider_right_arov {
    margin: 0 auto;
    width:  40px;
    height: 40px;
    position: relative;
    top: 90px;
    left: -155px;
    border: 3px solid #32b2e2;
    border-radius: 20%;
    background: url(..//img/slider_arov_lefrt.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.grupe_slide_contol > .slider_left_arov {
    margin: 0 auto;
    width:  40px;
    height: 40px;
    position: relative;
    top: -6px;
    left: 140px;
    border: 3px solid #32b2e2;
    border-radius: 20%;
    background: url(..//img/slider_arov_right.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}


.grupe_slide_contol > p {
    
position: relative;
    
top: 40px;
    
left: -15px;
}


.Middle_Sector > ul > .Even {
    background: #ffffff;
}

.Middle_Sector > ul > .Not_Even {
    background: #fefced;
}

.Middle_Sector > ul > li > div, .Middle_Sector > ul > li > p,.Middle_Sector > ul > li > div > div {
    float: left;
}

.Middle_Sector > ul > li > p {
    font-size: 17.5px;
    color: #333333;
    font-weight: bold;
    margin: 22.5px 10px 0 30px;
}

.Middle_Sector > ul > li > .Vilage_Name {
    margin: 21px 0 0 17px;
}

.Middle_Sector > ul > li > .Vilage_Type > p {
    margin: 0 auto;
    font-family: Georgia-Italic;
    font-size: 9px;
    color: #333333;
    /*float: left;*/;
}

.Middle_Sector > ul > li > .Vilage_Type > img {
    float: left;
    width: 60px;
}

.Middle_Sector > ul > li > .Nam_People {
    float: right;
    width: 107px;
    margin: 10px 15.5px 0 0;
}

.Middle_Sector > ul > li > .Nam_People > .female > img, .Middle_Sector > ul > li > .Nam_People > .man > img {
    float: left;
}

.Middle_Sector > ul > li > .Nam_People > .female > p, .Middle_Sector > ul > li > .Nam_People > .Man > p {
    float: right;
    margin-right: 6.5px;
}

/*Middle_Sector_End*/




.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame  > .block_1 > h1 {
    margin: 0 auto 0 0px;
    padding: 0 48px 0;
    font-family:'HelveticaNeueCyr-Roman';
    font-size: 50px;
    color: #333333;
    width: 245px;
    word-spacing: 12px;
    letter-spacing: 2px;
    line-height: 1.2;
    padding-left: 169px;
    width: 208px;
    font-size: 25px;
    float: right;
    text-align: right;
    position: absolute;
    top: 100px;
}

.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame  > .block_1 > h2 {
    margin: 0 auto 0 0px;
    font-family: Conv_Herold-Regular;
    font-size: 50px;
    color: #333333;
    width: 245px;
    text-align: left;
    word-spacing: 12px;
    letter-spacing: 2px;
    line-height: 1.2;
    padding-left: 40px;
    width: 189px;
}


.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame  > .block_1 > .right_b_img {
    float: right;
    margin-right: 20px;
    width: 120px;
    height: 149px;
    position: absolute;
    top: 27px;
    left: 36px;
}

.point > div .active {
    top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
    /* background: url(..//img/Cafe_for_map.svg); */
    background-size: 100%;
    background-repeat: no-repeat;
}

.point > div .clickd {
     top: -10px;
    left: -10px;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 2;
   /* background: url(..//img/Cafe_for_map.svg);*/
    background-size: 100%;
    background-repeat: no-repeat;     
}


.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame > .block_1 > h3 {
     font-family: Conv_Herold-Regular;
     font-size: 50px;
     color: #333333;
     text-align: left;
     padding-left: 41px;
     margin: 10px auto;
     position: absolute;
     top: 687px;
}

.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame > .block_1 > h4 {
     font-family: Conv_Herold-Regular;
     font-size: 25px;
     color: #333333;
     text-align: left;
     padding-left: 41px;
     position: absolute;
     top: 722px;
     width: 325px;
}

.block_2 {
     display: none;
}

.block_3 {
     display: none;
}


.Right_Info_Block_1_Frame > .Right_Info_Block_2_Frame > .block_1 >  p {
    margin: 83.5px auto 0;
    padding-top: 146px;
    width: 363px;
    font-family:'HelveticaNeueCyr-Thin';
    font-size: 16.5px;
    color: #333333;
    text-align: left;
    word-spacing: 7px;
    line-height: 1.6;
    padding-left: 0px;
}

.Right_Info_Block_ON_OF {
    float: left;
    text-decoration: none;
    height: 130px;
    width: 30px;
    background: url(..//img/Arrow_Left.png);
    margin-top: 443.50px;
    background-repeat: no-repeat;
    margin-left: -5.5px;
}

.Box_Map {
    width: 1010px;
    height: 1024px;
}

.Fourth_Frame > .container {
    margin: 0 auto;
    width: 1020px;
    height: 1015px;
    background-color: #FEFCED;
}

.Fourth_Frame > .container > .box   > .map {
    position: relative;
    z-index: 1;
}

.Fourth_Frame > .container > .box > .points {
    position: relative;
}

.Fourth_Frame > .container > .box > .points > .point {
    width: 60px;
    height: 77px;
    position: absolute;
    top: 31.5px;
    background-size: 100%;
    margin: -2.5px;
    /* background-image: url(..//img/Shoe_Icon.svg) !important; */
    /* background-position: 50% 39%; */
}

 #gost_chaika {
    /* background: url(..//img/Point_Active.png); */
    top: 1578.5px;
    left: 2094.5px;
    z-index: 3;
}

 #gost_2_cap {
    /* background: url(..//img/Point_Active.png); */
    top: 1593.5px;
    left: 1900.5px;
    z-index: 5;
}

 #gost_berezka {
    /* background-image: url(..//img/Shoe_Icon.svg); */
    top: 1428px;
    left: 2162.5px;
    z-index: 6;
}

 #g_savma {
    /* background-image: url(..//img/Shoe_Icon.svg); */
    top: 1467px;
    left: 2077px;
    z-index: 7;
}

 #c_calina {
    /* background-image: url(..//img/Shoe_Icon.svg); */
    top: 1201.5px;
    left: 2350px;
    z-index: 8;
}

 #c_stariy_gorod {
    /* background-image: url(..//img/Shoe_Icon.svg); */
    top: 1523.5px;
    left: 2153.5px;
    z-index: 8;
}

#c_shemchushina { 
   top: 1542px;
   left: 2052px;
   z-index: 2;
}

/**/
#mag_nix { 
   top: 1542px;
   left: 2052px;
   z-index: 2;
}

#mag_capriz { 
   top: 1542px;
   left: 2052px;
   z-index: 2;
}

#ob_mag_obuf { 
   top: 1542px;
   left: 2052px;
   z-index: 2;
}

#vozn_cercov {
   top: 1724px;
   left: 1710px;
   z-index: 2;
}

#spaso_preob_sobor {
   top: 1100px;
   left: 1354px;
   z-index: 2;
}

#gostin_dwor {
   top: 1561px;
   left: 1704px;
   z-index: 3;
}

#memor_topoleva {
   top: 2500px;
   left: 2121px;
   z-index: 2;
}

#dom_shadneckogo {
   top: 1595px;
   left: 1692px;
   z-index: 3;
}

#dom_serepevih {
   top: 1462px;
   left: 1729px;
   z-index: 2;
}

#dom_bratiev_luginih {
   top: 1377px;
   left: 1696px;
   z-index: 2;
}

#dom_ribgina {
   top: 1380px;
   left: 1958px;
   z-index: 2;
}







.active_point{
 z-index:50!important;
}

.Fourth_Frame > .container > .box > .points > #Kimra_4 {
    background: url(..//img/Point_Active.png);
    top: 991px;
    left: 945px;
}

.Fourth_Frame > .container > .box > .points > #Kimra_5 {
    background: url(..//img/Point_Active.png);
    top: 912.5px;
    left: 1072.5px;
}

.Fourth_Frame > .container > .box > .points > #Kimra_6 {
    background: url(..//img/Point_Active.png);
    top: 891.25px;
    left: 1017.5px;
}

.Fourth_Frame > .container > .box > .points > #Kimra_7 {
    background: url(..//img/Point_Active.png);
    top: 839px;
    left: 945px;
}





/*test_elem*/

.Pointer {
    width: 30px;
    height: 130px;
    position: relative;
    z-index: 4;
    float: left;
    margin-top: 452.5px;
    margin-left: -30px;
    background: url(..//img/Arrow_Left.png);
}

.scale {width: 600px;height: 92.5px;/* background: #fefced; *//* border: 4px solid rgb(0, 0, 0); */position: absolute;z-index: 1000;top: 956px;left: 655px;border-bottom: none;}

.scale > .Zomm_In {width: 115px;height: 120px;background: url(..//img/Zoom_In.png);background-position: 50% 35%;background-repeat: no-repeat;position: relative;float: left;left: 142px;top: 15px;border-radius: 20%;border-style: solid;background-color: #f3f3f3;border-color: #32b2e2;background-size: 50%;}

.scale > .Zoom_Out {width: 115px;height: 120px;background: url(..//img/Zoom_Out.png);background-position: 50% 40%;background-repeat: no-repeat;position: relative;left: 317px;top: 15px;border-radius: 20%;border-style: solid;background-color: #f3f3f3;border-color: #32b2e2;background-size: 50%;}

/*--------------------*/

/*swiper*/
.swiper-container {
    
}
 .swiper-slide {
    /* text-align: center; */
    /* font-size: 18px; */
    /* background: #fff; */
    /* Center slide text vertically */
    /* display: -webkit-box; */
    display: -ms-flexbox;
    /* display: -webkit-flex; */
    /* display: flex; */
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    /* background: green; */
    height: 60px;
    /*margin: 5px auto;*/
    }

svg {
    width:100px;
    height: 100px;
    position: absolute;
    z-index: 10;
}

.container2 {
  width: 100px;
  height: 100%;
  margin: 0 auto 0;
  transform: rotate(177deg) scale(0.628) skew(15deg) translate(-60px);
  position: relative;
  top: 64px;
  left: -42px;
}

.pulse-button {
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  display: block;
  width: 80px;
  height: 40px;
  font-size: 1.3em;
  font-weight: bold;
  color: white;
  border: 1px solid #6B6B6B;
  box-shadow: 0 0 0 0 rgba(83, 82, 82, 0.43), inset 0 1px 0 #a2c891;
  border-radius: 100%;
  v-align: middle;
  background: #a2c891;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a2c891), color-stop(100%, #a2c891));
  background-image: -webkit-linear-gradient(#a2c891, #a2c891);
  background-image: -moz-linear-gradient(#6ea6d9, #468ccf);
  background-image: -o-linear-gradient(#6ea6d9, #468ccf);
  background-image: linear-gradient(#a2c891, #bfeea9);
  cursor: pointer;
  -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
  -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(90deg);
  -webkit-transform: scale3d(1, 1, 0.1);
  -webkit-transform: translate3d(0px, 0px, 110px);
  -webkit-transform: skew(0deg, 0deg);
}

.ativeted_point{
   position: relative;
   top: 50%;
   left: 50%;
   margin-left: -20px;
   margin-top: -20px;
   display: block;
   width: 80px;
   height: 40px;
   font-size: 1.3em;
   font-weight: bold;
   color: white;
   border: 1px solid #bfa24c;
   box-shadow: 0 0 0 0 rgba(191,162,76,0.50), inset 0 1px 0 #bfa24c;
   border-radius: 100%;
   v-align: middle;
   background: #bfa24c;
   background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bfa24c), color-stop(100%, #bfa24c));
   background-image: -webkit-linear-gradient(#bfa24c, #bfa24c);
   background-image: -moz-linear-gradient(#6ea6d9, #468ccf);
   background-image: -o-linear-gradient(#6ea6d9, #468ccf);
   background-image: linear-gradient(#bfa24c, #bfa24c);
   cursor: pointer;
   -webkit-animation: pulse 1s infinite cubic-bezier(0.6, 0, 0, 1);
   -webkit-transform: rotateX(65deg) rotateY(0deg) rotateZ(90deg);
   -webkit-transform: scale3d(1, 1, 0.1);
   -webkit-transform: translate3d(0px, 0px, 110px);
   -webkit-transform: skew(0deg, 0deg);
}

.pulse-button:hover {
  -webkit-animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(90, 153, 220, 0), inset 0 1px 0 #abcbe9;
  }
}

.activet {
    background-color: #ffffff;
}

.Main_Menu {
    width: 95px;
    height: 120px;
   /* background: url(..//img/Main_Menu.png);*/
    position: absolute;
    left: 910px;
    background-size: 98%;
    /* border-radius: 24%; */
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    z-index: 100;
}

